.container {
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    position: absolute;
    margin: 12rem 0px;
    width: 20%;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    font-size: 22px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
    margin-left: 40px;
    color: #bdc3c7;
    cursor: pointer;
}

.menu-item span {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.menu-item:hover {
    color: #2ecc71; 
}

#menu-button{
    margin-left: 30px;
}

.post-button {
    background-color: #201b2c; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.post-button:hover {
    background-color: #20b45e;
}

.main-content {
    width: 40%;
    overflow-y: auto;
    background-color: #1c1c1c;
    margin: 65px 55px;
    border: 1px solid #303030;
    border-radius: 30px;
}

.right-sidebar {
    width: 26%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 65px;
    margin-right: 2%;
}

.search-bar {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: #34495e;
    color: white;
    border: none;
    margin-bottom: 1em;
}

.trending, .who-to-follow {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1em;
    color: white;
}

.hashtag {
    color: #2ecc71; /* Verde */
}

.follow-button {
    background-color: #201b2c; /* Roxo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #2ecc71; /* Verde */
}